@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Hostel Management System</title>
    <link rel="icon" href="~/Images/Z Letter Logo.jpg">
    <link rel="stylesheet" href="/css/stylesheet.css">

</head>
<body>
    <header>
        <div>
            <div class="step">
                <a href="#">Home</a>
                <a href="#">About us</a>
                <a href="#">Contact us</a>
                <a href="#">Services</a>
                <a href="#">Policy</a>
                <a href="Index/Form" target="_blank">Fill Hostel Form</a>
            </div>
        </div>
    </header>
    <div style="text-align: center;">
        <h1>Video</h1>
        <video src="~/Videos/Beach - 997.mp4" controls></video>
    </div>
    <h1>About Us</h1>
    <section id="one">
        <p>
            A hostel is a residence where students on trainee live. <br>
            It is a student or trainee live there for a definite timebr <br> in his/her educating period is called hostel life.
            I am a <br> first year college student. I live in a hostel. The name <br> of my hostel is 'Kabi Jasim Uddin Hostel' It is situated <br> near our college.
            It is the most renowned hostel of our <br> college. The environment of my hostel is very charming.<br> There is an open field in front of my hostel.
            I with some <br>The About Us page of your website is an essential source <br> of information for all who want to know more about your <br>
            business. Doing so requires those in charge that revenue can be maximised.<br>

        </p>
        <img src="~/Images/img1.jpg" alt="Error in Pic!" id="two">
    </section>
    <hr>
    <section id="one">
        <img src="~/Images/img2.jpg" alt="Error in Pic!">
        <p>
            Different hostel management systems will offer a different <br>
            range of functions, but there are a number of core features <br>
            that you might expect to find in the majority of software <br>
            packages of this kind, such as the ability to keep track of <br>
            reservations and current availability, or the potential to <br>
            manage different distribution channels.Payment processing and <br>
            the ability to track critical business data are also seen in <br>
            most hostel management systems, while some of the top-of-the <br>
            -range offerings may include features you might expect to find <br>
            in a point of sale systems, such as payment processing and the <br>
            centralisation of performance metrics and business data.Inventory <br>
            management is an important part of managing any accommodation <br>
            but it can be especially vital within hostels, because these <br>
            properties may sell individual beds and private dorms.
        </p>

    </section>
    <hr>
    <h1>Contact Us</h1>
    <div>
        <table>
            <colgroup>
                <col />
            </colgroup>
            <thead>
                <tr>
                    <th>
                        <b> Names </b>
                    </th>
                    <th>
                        <b> Roll No</b>
                    </th>
                    <th>
                        <b> Section </b>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Sikander
                    </td>
                    <td>
                        20101001-023
                    </td>
                    <td>
                        Blue
                    </td>
                </tr>
                <tr>
                    <td>
                        Zeeshan
                    </td>
                    <td>
                        20101001-025
                    </td>
                    <td>
                        Yellow
                    </td>
                </tr>
                <tr>
                    <td>
                        Hammad
                    </td>
                    <td>
                        20101001-166
                    </td>
                    <td>
                        Yellow
                    </td>

                </tr>
                <tr>
                    <td>
                        Umar
                    </td>
                    <td>
                        20101001-170
                    </td>
                    <td>
                        Blue
                    </td>
                </tr>
                <tr>
                    <td>
                        Usama
                    </td>
                    <td>
                        20201001-018
                    </td>
                    <td>
                        Yellow
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <h4>Find us here!</h4>
        <div>
            <a href="https://web.facebook.com/" target="blank"><img src="~/Images/fblogo.png" alt="Error in Pic!" id="three"></a>
            <a href="https://www.instagram.com/" target="blank"><img src="~/Images/instalogo.png" alt="Error in Pic!" id="three"></a>
            <a href="https://twitter.com/" target="blank"><img src="~/Images/twitterlogo.png" alt="Error in Pic!" id="three"></a>
        </div>
        <div class="footer" id="bot">
            <ul type="disk">
                <li>
                    Home
                </li>
                <li>
                    About Us
                </li>
                <li>
                    Contact Us
                </li>
                <li>
                    Services
                </li>
                <li>
                    Policy
                </li>
            </ul>
        </div>
            <h5> &copy; 2022 | Muhammad Zeeshan</h5>
    </footer>

</body>
</html>